.header-container {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(168,86,255,1) 0%, rgba(0,212,255,1) 100%);
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: white;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  */
    color: white;
}

.header-container .menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
}

.header-container .menu .fa-bars {
    margin-left: 20px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.header-container .title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container .title img{
    height: 35px;
}

.header-container .title h3{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.header-container .user {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    border-radius: 5px;
    margin-right: 7px;
}

.header-container .user .fa-bell {
    margin-right: 20px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.header-container .user .user-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.header-container .user .user-icon:hover {
    background-color: rgb(253, 84, 174);
    color: white;
    border-radius: 5px;
}

/* -------- MODAL USER ----------------*/

.modal-user-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.modal-user .user-info {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-user .user-info .icon{
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
}

.user-info .email-user{
    min-height: 50px;
    color: white;
    font-weight: 700;
}

.user-info .total-price{
    height: 50px;
}

.user-info .total-price .price{
    min-height: 50px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}


.header-container .modal-user {
    border-radius: 10px;
    position: fixed;
    top: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color:#0b99f894;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.btn-sair {
    min-width:200px;
    width: 100%;
    min-height: 40px;
    background-color: white;
    border: none;
    color: #364664;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.btn-sair:hover {
    background-color: #75757550;
    border-radius: 5px;
    color: white;
}

.btn-sair .title{
    font-size: 16px;
    font-weight: 700;
}

/* ------- NAVBAR --------*/

.link {
    text-decoration: none;
}

.navbar-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.header-container .navbar {
    position: fixed;
    top: 60px;
    left: 5px;
    width: 240px;
    border-radius: 8px;
    min-height: calc(100vh - 65px);
    background-color:#a45aff9c;
    backdrop-filter: blur(5px);
    padding: 8px;
    z-index: 11;
}

.header-container .navbar-title {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .btn-Dashboard {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.274);
    font-weight: 700;
    color: white;
}

.header-container .btn-Dashboard:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}


